
PoliNetwork.Core/.idea/

PoliNetwork.Core/PoliNetwork.Core/bin/

PoliNetwork.Core/PoliNetwork.Core/obj/

.idea/

PoliNetwork.Core/bin/

PoliNetwork.Core/obj/

*.nupkg

PoliNetwork.Telegram/bin/

PoliNetwork.Telegram/obj/

PoliNetwork.Db/bin/

PoliNetwork.Db/obj/

PoliNetwork.Ai/bin/

PoliNetwork.Ai/obj/

PoliNetwork.Ai/src/bin/

PoliNetwork.Core/src/bin/

PoliNetwork.Core/src/obj/

PoliNetwork.Db/src/bin/

PoliNetwork.Db/src/obj/

PoliNetwork.Telegram/src/bin/

PoliNetwork.Telegram/src/obj/

PoliNetwork.Ai.Test/obj/

PoliNetwork.Core.Test/obj/

PoliNetwork.Db.Test/obj/

PoliNetwork.Telegram.Test/obj/

PoliNetwork.Ai/Test/bin/

PoliNetwork.Ai/Test/obj/

PoliNetwork.Ai/src/obj/

PoliNetwork.Core/Test/bin/

PoliNetwork.Core/Test/obj/

PoliNetwork.Db/Test/bin/

PoliNetwork.Db/Test/obj/

PoliNetwork.Telegram/Test/bin/

PoliNetwork.Telegram/Test/obj/

*.user
