
PoliNetwork.Core/.idea/

PoliNetwork.Core/PoliNetwork.Core/bin/

PoliNetwork.Core/PoliNetwork.Core/obj/

.idea/

PoliNetwork.Core/bin/

PoliNetwork.Core/obj/

*.nupkg

PoliNetwork.Telegram/bin/

PoliNetwork.Telegram/obj/

PoliNetwork.Db/bin/

PoliNetwork.Db/obj/
